@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.eot?iefix') format('eot'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}
.wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  padding: 0 8px;
  width: 100%;
  max-width: 972px;
}
img {
  line-height: 1;
  display: block;
}
a {
  -webkit-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
.hoverlink:hover {
  -webkit-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  color: #49A144!important;
}
header {
  height: 72px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}
header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  line-height: 72px;
}
header .header_logo img {
  height: 12px;
  width: auto;
  display: inline-block;
}
header .header_adress input {
  border: 1px solid #E0E0E0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  color: #1D1D1D;
}
header .header_adress .hai1 {
  height: 40px;
  width: 65px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
header .header_adress span {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #626262;
}
header .header_adress .hai2 {
  width: 292px;
  height: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding: 0 0 0 36px;
  background: url(/img/Group.png);
  background-position: 12px 12px;
  background-repeat: no-repeat;
  background-size: 14px auto;
}
header .header_register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
header .header_register .hr_button {
  height: 40px;
  width: 80px;
  margin: 0 16px 0 0;
  border: 1px solid #E0E0E0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  text-align: center;
  color: #1D1D1D;
  cursor: pointer;
  line-height: 40px;
  text-decoration: none;
}
header .header_register .hr_button:nth-of-type(1) {
  background: transparent;
}
header .header_register .hr_button:nth-of-type(2) {
  background: #262626;
  color: #fff;
}
header .header_register .basked {
  padding: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .header_register .basked img {
  display: block;
  width: 19px;
  height: auto;
  cursor: pointer;
}
.search_box {
  margin: 32px 0 0 0;
  padding: 0;
  border-bottom: 1px solid #75757561;
}
.search_box input {
  height: 48px;
  width: 100%;
  padding: 0 0 0 30px;
  background: url(/img/Shape.png);
  background-position: 0 13px;
  background-repeat: no-repeat;
  background-size: 22px auto;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #626262;
  outline: none;
}
.undersearch_adress {
  display: none;
  margin: 24px 0 0 0;
}
.undersearch_adress input {
  margin: 8px 0 0 0;
  border: 1px solid #E0E0E0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  color: #1D1D1D;
}
.undersearch_adress .hai1 {
  height: 40px;
  width: 65px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.undersearch_adress span {
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #626262;
}
.undersearch_adress span:nth-of-type(1) {
  margin: 0 16px 0 0;
}
.undersearch_adress .hai2 {
  width: 292px;
  height: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding: 0 0 0 36px;
  background: url(/img/Group.png);
  background-position: 12px 12px;
  background-repeat: no-repeat;
  background-size: 14px auto;
}
main h1 {
  margin: 56px 0 0 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  color: #1D1D1D;
}
main ul.rest_box {
  margin: 8px -8px 0 -8px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  list-style: none;
}
main ul.rest_box li {
  width: 33.333%;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px;
  text-align: left;
  cursor: pointer;
  -webkit-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
main ul.rest_box li:hover {
  background-color: rgba(0, 0, 0, 0.04);
  -webkit-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
main ul.rest_box li img {
  width: 100%;
  height: auto;
}
main ul.rest_box li .infp_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 95px;
}
main ul.rest_box li .infp_box .title {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #1D1D1D;
}
main ul.rest_box li .infp_box .subtitle {
  margin: 4px 0 0 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #626262;
}
main ul.rest_box li .infp_box .time {
  margin: 4px 0 0 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  color: #1D1D1D;
}
footer {
  position: relative;
  margin: 72px 0 0 0;
  padding: 40px 0;
  background: #262626;
}
footer .footer_logo {
  height: 20px;
  width: auto;
  display: inline-block;
}
footer .fmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 40px 0 0 0;
  padding: 32px 0 0 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
footer .fmenu .fmenu_left {
  position: relative;
  width: 33.333%;
}
footer .fmenu .fmenu_left .language {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 227px;
  height: 40px;
  background: #3B3B3B;
  border-radius: 2px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
  padding: 0 0 0 46px;
  background-image: url(/img/caret.png);
  background-position: 200px 16px;
  background-repeat: no-repeat;
  background-size: 14px auto;
  border: none;
  outline: none;
  cursor: pointer;
}
footer .fmenu .fmenu_left .world {
  position: absolute;
  top: 11px;
  left: 16px;
}
footer .fmenu .fmenu_left .hashtags {
  list-style: none;
  padding: 0;
  margin: 30px 0 0 0;
}
footer .fmenu .fmenu_left .hashtags li a {
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  text-decoration: none;
}
footer .fmenu .fmenu_left .hashtags li a:before {
  content: "#";
  color: #49A144;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
footer .fmenu .fmenu_left .socials {
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0;
}
footer .fmenu .fmenu_left .socials li {
  display: inline-block;
}
footer .fmenu .fmenu_left .socials li a {
  display: block;
  padding: 3px;
  -webkit-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
footer .fmenu .fmenu_left .socials li a:hover img {
  background: #49A144;
  -webkit-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
footer .fmenu .fmenu_left .socials li a img {
  width: 24px;
  height: auto;
}
footer .fmenu .fmenu_right {
  width: 66.666%;
}
footer .fmenu .fmenu_right ul {
  margin: 0;
  padding: 0;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  list-style: none;
}
footer .fmenu .fmenu_right ul li a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1;
  color: #FFF;
  display: block;
  margin: 5px 0 25px 0;
  text-decoration: none;
}
footer .fstore {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin: 24px 0 0 0;
  padding: 42px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
footer .fstore a img {
  height: 40px;
  width: auto;
  margin: 0 20px;
}
footer .fbot {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding: 40px 0 0 0;
  margin: 40px 0 0 0;
}
footer .fbot ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #FFFFFF;
}
footer .fbot ul li {
  width: 33.333%;
  text-align: left;
}
footer .fbot ul li a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #FFFFFF;
  text-decoration: none;
}
footer .btnup {
  position: absolute;
  right: 16px;
  bottom: 24px;
  z-index: 999;
}
footer .btnup img {
  width: 80px;
  height: auto;
}
@media (max-width: 1023px) {
  main ul.rest_box li {
    width: 50%;
  }
}
@media (max-width: 639px) {
  header .header_register .basked {
    display: none;
  }
  header .header_register .hr_button:nth-of-type(1) {
    margin: 0 12px 0 0;
  }
  header .header_register .hr_button:nth-of-type(2) {
    margin: 0;
  }
  .header_adress {
    display: none;
  }
  .undersearch_adress {
    display: inline-block;
  }
  main h1 {
    margin: 40px 0 0 0;
  }
  main ul.rest_box li {
    width: 100%;
  }
  footer .fmenu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  footer .fmenu .fmenu_left {
    width: 100%;
  }
  footer .fmenu .fmenu_right {
    margin: 40px 0 0 0;
    width: 100%;
  }
  footer .fmenu .fmenu_right ul {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
  footer .fbot ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  footer .fbot ul li {
    width: 100%;
  }
  footer .fbot ul li:nth-of-type(2) {
    margin: 25px 0;
  }
  footer .btnup img {
    width: 64px;
  }
  footer .fstore a img {
    margin: 0 12px;
  }
}
@media (max-width: 425px) {
  .undersearch_adress .hai2 {
    width: 227px;
  }
}
