@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.eot?iefix') format('eot'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Roboto-thin;
  src: url('../fonts/Roboto-Thin.eot');
  src: url('../fonts/Roboto-Thin.eot?iefix') format('eot'), url('../fonts/Roboto-Thin.woff') format('woff'), url('../fonts/Roboto-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Roboto;
}

body {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  position: relative;
}
.wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  padding: 0 70px;
  width: 100%;
  max-width: 1780px;
  position: relative;
}

.block_title {
  font-size: 36px;
  font-weight: bold;
}

.slider_container {
  position: relative;
}

#fix_nv {
  position: fixed;
  top: 50%;
  right: 31px;
  -webkit-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  transform: translate(0,-50%);
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 999;
  width: 20px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    a {
      display: block;
      margin: 5px 0;
      width: 8px;
      height: 8px;
      text-indent: -9999px;
      background: #dedede;
      border-radius: 50px;
    }
  }
}

#fix_nv a:hover,#fix_nv .actv_b{
  background:#840A2D;
  width: 12px;
  height: 12px;
}

.mob_menu {
  background: #fff;
  .wrapper {
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    .mob_logo_img {
      height: 36px;
    }
    .mobmenu_button {
      cursor: pointer;
      img {
        height: 22px;
        width: auto;
      }
    }
  }
}

header .mask {
  background: rgba(0,0,0,.4);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

header .wrapper.wrslider {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  .header_top {
    position: absolute;
    left: 70px;
    top: 34px;
    right: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .header_logo {
      width: 270px;
      img {
        height: 50px;
      }
      -webkit-transition: all 100ms ease-in-out;
      -o-transition: all 100ms ease-in-out;
      transition: all 100ms ease-in-out;
      &:hover {
        opacity: 0.6;
        -webkit-transition: all 100ms ease-in-out;
        -o-transition: all 100ms ease-in-out;
        transition: all 100ms ease-in-out;
      }
    }

    .header_top_menu {
      width: ~"calc(100% - 540px)";
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      .header_top_left_menu, .header_top_right_menu {
        width: 50%;
        padding: 0;
        margin: 0;
        list-style: none;
        display: inline-block;
        li {
          display: inline-block;
          margin: 0 14px;
          height: 50px;
          line-height: 50px;
          &:hover {
            a {
              text-decoration: underline;
            }
          }
          a {
            font-family: Roboto-Thin;
            color: #fff;
            text-transform: uppercase;
            font-size: 14px;
            text-decoration: none;
          }
        }
      }
    }
    
    .header_lang {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 270px;
      -webkit-transition: all 100ms ease-in-out;
      -o-transition: all 100ms ease-in-out;
      transition: all 100ms ease-in-out;
      display: flex;
      flex-direction: row;
      align-items: center;
      span {
        color: #fff;
        font-size: 16px;
        font-family: Roboto-thin;
      }
      a {
        margin: 0 0 0 36px;
        &:hover {
          opacity: 0.6;
          -webkit-transition: all 100ms ease-in-out;
          -o-transition: all 100ms ease-in-out;
          transition: all 100ms ease-in-out;
        }
      }
    }
  }
  
  .header_socials {
    position: absolute;
    left: 70px;
    bottom: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      height: 20px;
      width: 20px;
      margin: 0 17px 0 0;
      padding: 0;
      display: inline-block;
      -webkit-transition: all 100ms ease-in-out;
      -o-transition: all 100ms ease-in-out;
      transition: all 100ms ease-in-out;
      &:hover {
        opacity: 0.6;
        -webkit-transition: all 100ms ease-in-out;
        -o-transition: all 100ms ease-in-out;
        transition: all 100ms ease-in-out;
      }
    }
  }
}



.header_adress {
  position: absolute;
  bottom: 40px;
  right: 70px;
  text-align: right;
  span {
    color: #fff;
    font-size: 16px;
    font-family: Roboto-thin;
  }
}



.header_info {
  position: absolute;
  top: 50%;
  left: 270px;
  transform: translate(0, -50%);
  span {
    display: block;
    color: #fff;
    line-height: 1;
  }
  .slide_info_title {
    margin: 0;
    font-size: 78px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .slide_info_subtitle {
    margin: 26px 0 0 0;
    font-size: 56px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .slide_info_description {
    line-height: 28px;
    font-size: 18px;
    font-family: Roboto-thin;
    margin: 50px 0 0 50px;
  }
}

.slider_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 310px;
  bottom: 154px;
  .prev, .next {
    font-family: fontAwesome;
    height: 44px;
    width: 44px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    -webkit-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
    font-size: 18px;
    color: #fff;
    outline: none;
    &:hover {
      background: #fff;
      color: #840A2D;
      -webkit-transition: all 100ms ease-in-out;
      -o-transition: all 100ms ease-in-out;
      transition: all 100ms ease-in-out;
    }
  }
  .next {
    margin: 0 0 0 16px;
  }
}


img {
  line-height: 1;
  display: block;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

img[data-src] {
  opacity: 0;
}

a {
  -webkit-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.header-slider {
  height: 100%;
  max-height: 960px;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
  }
  .slide1 {
    background: url('../img/img_bg.png');
  }
  .slide2 {
    background: url('../img/img_bg2.png');
  }
}

@-webkit-keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.header_arrow {
  position: relative;
  height: 120px;
  width: 100%;
  background: #840A2D;
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    .header_arrow_left {
      font-size: 18px;
      color: #fff;
    }
    .header_arrow_right {
      display: flex;
      flex-direction: row;
      .header_arrow_right_box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 0 70px;
        span {
          color: #fff;
          &:nth-of-type(1) {
            font-size: 40px;
            margin: 0 10px 0 0;
          }
          &:nth-of-type(2) {
            font-size: 14px;
            text-align: right;
            font-family: Roboto-thin;
          }
        }
      }
    }
    .header_arrow_link {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      height: 45px;
    }
    &:hover {
      .header_arrow_link img {
        -webkit-animation: bounce 0.6s;
        animation: bounce 0.6s;
      }
    }
  }
}

.search_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 70px 0 0 0;
  cursor: pointer;
  .search {
    display: block;
    height: 52px;
    line-height: 52px;
    width: 200px;
    border: 1px solid #DEDEDE;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 26px;
    padding: 0 32px 0 72px;
    background: url('../img/Combined Shape.png');
    background-position: 30px 12px;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    font-size: 14px;
    color: #333;
    outline: none;
    &:hover {
      border: 1px solid #840a2d;
    }
  }
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 70px -40px 0 -40px;
  list-style: none;
  li {
    display: block;
    position: relative;
    padding: 0;
    margin: 0 0 40px 0;
    width: 33.333%;
    height: 450px;
    .cards_info {
      position: absolute;
      left: 40px;
      top: 0;
      right: 40px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      cursor: default;
      .cards_info_right {
        font-size: 36px;
        color: #ddd;
      }
      .cards_info_left {
        .cards_info_left_title {
          font-size: 30px;
          color: #000;
          display: block;
        }
        .cards_info_left_subtitle {
          font-size: 14px;
          color: #000;
          margin: 20px 0 0 0;
          text-transform: uppercase;
          display: block;
        }
      }
    }
    &:hover {
      img {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-transition: all 100ms ease-in-out;
        -o-transition: all 100ms ease-in-out;
        transition: all 100ms ease-in-out;
      }
    }
    &:before {
      content: '';
      height: ~"calc(100% - 40px)";
      width: 1px;
      background: #DEDEDE;
      position: absolute;
      top: 0;
      right: 0;
      //transform: translate(-50%,-50%);
    }
    &:after {
      content: '';
      width: ~"calc(100% - 80px)";
      height: 1px;
      background: #DEDEDE;
      position: absolute;
      bottom: 0;
      left: 50%;
      -webkit-transform: translate(-50%,0);
      -ms-transform: translate(-50%,0);
      transform: translate(-50%,0);
    }
    &:nth-of-type(3n) {
      &:before {
        display: none;
      }
    }
    &:nth-last-of-type(-n+3) {
      &:after {
        display: none;
      }
    }
    a {
      height: 100%;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      img {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
        padding: 0 30px;
        max-width: 470px;
        width: 100%;
        height: auto;
        -webkit-transition: all 100ms ease-in-out;
        -o-transition: all 100ms ease-in-out;
        transition: all 100ms ease-in-out;
      }
    }
  }
}

.partners {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #F2F2F2;
  padding: 0;
  margin: 0;
  .block_title {
    margin: 0 0 128px 300px;
  }
  .wrapper {
    padding: 128px 0 300px 0;
  }
  .partners_box {
    display: inline-block;
    margin: 0 10px;
    padding: 0;
    width: auto;
    height: 300px;
    background: #fff;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    img {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0 70px;
      margin: 0;
      max-width: 100%;
    }
  }
  .partners-slider_button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 380px;
    bottom: 175px;
    .prev, .next {
      font-family: fontAwesome;
      height: 46px;
      width: 46px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      cursor: pointer;
      -webkit-transition: all 100ms ease-in-out;
      -o-transition: all 100ms ease-in-out;
      transition: all 100ms ease-in-out;
      font-size: 18px;
      background: #fff;
      color: #840A2D;
      outline: none;
      border-radius: 50%;
      &:hover {
        background: #840A2D;
        color: #fff;
        -webkit-transition: all 100ms ease-in-out;
        -o-transition: all 100ms ease-in-out;
        transition: all 100ms ease-in-out;
      }
    }
    .next {
      margin: 0 0 0 16px;
    }
  }
}

footer {
  background: #F2F2F2;



  .footer_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    position: relative;
    min-height: 900px;
    width: 100%;
    .wrapper {
      padding: 128px 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      transform: translate(-50%,0);
      .footer_popup {
        padding: 0 50px 0 300px;
        width: 53%;
        .block_title {
          margin: 0 0 128px 0;
        }
        ul.news_list {
          padding: 0;
          margin: 0;
          list-style: none;
          li {
            margin: 0 0 50px 0;
            cursor: pointer;
            .footer_board {
              display: none;
              position: absolute;
              top: 50%;
              right: 0;
              width: 47%;
              -webkit-transform: translate(0,-50%);
              -ms-transform: translate(0,-50%);
              transform: translate(0,-50%);
            }
            span:nth-of-type(1) {
              position: relative;
              font-size: 22px;
              display: block;
              margin: 0 0 12px 0;
              &:before {
                display: none;
                content: '';
                width: 20px;
                height: 8px;
                background: #8e1a20;
                position: absolute;
                right: ~"calc(100% + 16px)";
                top: 10px;
              }
            }
            span:nth-of-type(2) {
              font-size: 18px;
              color: #a6a6a6;
            }
          }
          li.active {
            span:nth-of-type(1) {
              color: #8e1a20;
              &:before {
                display: block;
              }
            }
            .footer_board {
              display: block;
            }
          }
        }
      }
    }
    .footer_top_left {
      width: 69%;
      background: #fff;
      padding: 100px 0;
    }
    .footer_top_right {
      width: 31%;
    }
  }




  .footer_bottom {
    background: #fff;
    .wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      align-items: center;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      height: 150px;
      padding: 0 70px 0 70px;
      .footer_bottom_left {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 50%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: flex-start;
        .reserved {
          width: 300px;
          font-size: 17px;
          font-family: Roboto-thin;
          span {
            display: block;
          }
        }
        .footer_socials {
          margin: 0;
          padding: 0;
          list-style: none;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          height: 20px;
          li {
            display: inline-block;
            padding: 0;
            margin: 0 8px;
            a {
              img {
                width: 20px;
                height: auto;
                -webkit-transition: all 100ms ease-in-out;
                -o-transition: all 100ms ease-in-out;
                transition: all 100ms ease-in-out;
              }
              &:hover {
                img {
                  opacity: 0.6;
                  -webkit-transition: all 100ms ease-in-out;
                  -o-transition: all 100ms ease-in-out;
                  transition: all 100ms ease-in-out;
                }
              }
            }
          }
        }
      }
      .footer_bottom_right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
        width: 50%;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        .footer_adress {
          font-size: 17px;
          font-family: Roboto-thin;
          span {
            display: block;
            text-align: right;
          }
        }
        .footer_logo {
          width: 300px;
          -webkit-transition: all 100ms ease-in-out;
          -o-transition: all 100ms ease-in-out;
          transition: all 100ms ease-in-out;
          img {
            height: 44px;
            width: auto;
            margin: 0 0 0 auto;
          }
          &:hover {
            opacity: 0.6;
            -webkit-transition: all 100ms ease-in-out;
            -o-transition: all 100ms ease-in-out;
            transition: all 100ms ease-in-out;
          }
        }
      }
    }
  }
}

.partners_box.on360 {
  display: none!important;
}
.mob_menu {
  display: none;
}

.nav {
  display: none;
}


@media (max-width: 425px) {
  .header_top, .slider_button, .header_socials, .header_adress, .fullscroll#fix_nv, .header_arrow, .off360,
  .partners .prev, .partners .next {
    display: none!important;
  }

  .block_title {
    font-size: 26px;
    font-weight: normal;
  }

  .header_info {
    position: absolute;
    top: 50%;
    left: 16px;
    right: 16px;
    transform: translate(0, -50%);
    .slide_info_title {
      font-size: 40px;
    }
    .slide_info_subtitle {
      font-size: 30px;
      line-height: 32px;
      margin: 10px 0 0 0;
    }
    .slide_info_description {
      margin: 20px 0 0 0;
    }
  }

  .wrapper {
    padding: 0 16px;
  }
  .nav, .mob_menu {
    display: block;
  }
  .search_box {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding: 0 0 23px 0;
    margin: 20px 0 0 0;
    &:before {
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      height: 1px;
      width: 100%;
      background: #dedede;
    }
    .search {
      width: 100%;
      background-position: 90px 12px;
      padding: 0 100px 0 132px;
    }
  }
  .header-slider {
    height: 400px;
    z-index: 99;
    .slide_box {
      position: relative;
      height: 400px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      img {
        height: 400px;
      }
    }
  }
  .cards {
    margin: 30px 0 0 0;
    li {
      width: 100%;
      height: 360px;
      &:last-child {
        margin: 0;
      }
      .cards_info {
        left: 0;
        right: 0;
        .cards_info_left {
          .cards_info_left_title {
            font-size: 26px;
          }
          .cards_info_left_subtitle {
            font-size: 12px;
            margin: 10px 0 0 0;
          }
        } 
      }
      a img {
        padding: 0;
      }
    }
  }
  .cards li:before {
    display: none;
  }

  .cards li {
    &:after {
      display: block!important;
      width: 100%;
    }
  }
  .cards li {
    &:nth-last-of-type(-n+1) {
      &:after {
        display: none!important;
      }
    }
  }

  .partners .block_title {
    margin: 0 16px 30px 16px;
  }

  .partners .partners-slider {
    .partners_box {
      display: block!important;
      margin: 0;
      padding: 0;
      height: 125px;
      .partners_box_top, .partners_box_bottom {
        display: block;
        width: 100%;
      }
      img {
        padding: 0;
      }
    }
  }
  .partners .partners-slider .partners_box.off360 {
    display: none!important;
  }
  .partners .partners-slider .partners_box.on360 {
    display: block!important;
    height: auto;
    .partners_box_top, .partners_box_bottom {
      height: 125px;
      padding: 16px 27px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      img {
        padding: 0;
        height: 100%;
        max-width: 100%;
      }
    }
  }
  .partners .wrapper {
    padding: 30px 0 0 0;
  }

  footer .footer_top .wrapper {
    padding: 30px 16px;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    transform: none;
    .footer_popup {
      padding: 0;
      width: 100%;
      .block_title {
        margin: 0 0 30px 0;
      }
      ul.news_list {
        li {
          display: none;
          &:first-child {
            display: block;
          }
          .footer_board {
            position: relative;
            top: 0;
            right: 0;
            width: ~"calc(100% + 32px)";
            transform: none;
            padding: 0 0 20px 0;
            margin: 0 0 0 -16px;
          }
        }
        li.active span:nth-of-type(1) {
          color: inherit;
        }
      }
    }
  }

  footer .footer_top {
    height: auto;
    min-height: auto;
    .footer_top_left, .footer_top_right {
      display: none;
    }
    .footer_board {
      position: relative;
      top: 0;
      right: 0;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
      height: auto;
      width: 100%;
      padding: 0 0 132px 0;
    }
  }
  footer .footer_bottom {
    background: transparent;
    .wrapper {
      height: 116px;
      padding: 10px 16px;
      .footer_bottom_left {
        flex-direction: column-reverse;
        width: 60%;
        height: 100%;
        justify-content: space-between;
        align-items: flex-start;
        .footer_socials li {
          margin: 0 16px 0 0;
        }
        .reserved {
          width: 100%;
          font-size: 16px;
        }
      }
      .footer_bottom_right {
        width: 40%;
        height: 100%;
        .footer_logo img {
          height: 38px;
        }
        .footer_adress {
          display: none;
        }
      }
    }
  }
}





// МОБИЛЬНОЕ МЕНЮ
.nav {
  width: 320px;
  min-width: 320px;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: 0;
  right: -360px;
  padding: 80px 20px;
  -webkit-transition: right 0.3s;
  -o-transition: right 0.3s;
  transition: right 0.3s;
  background: #fff;
  z-index: 2000;
  .close_button {
    position: absolute;
    top: 8px;
    right: 0;
    &:before {
      content: '\2715';
      font-size: 34px;
      padding: 16px;
      color: #840a2d;
    }
  }
}

.nav.active {
  right: 0;
  box-shadow:-4px 0px 20px 0px rgba(0,0,0, 0.5);
  -moz-box-shadow:-4px 0px 20px 0px rgba(0,0,0, 0.5);
  -webkit-box-shadow:-4px 0px 20px 0px rgba(0,0,0, 0.5);
  overflow-y: auto;
}


[id='nav-toggle']:checked ~ .nav > .nav-toggle:after {
  content: '\2715';
}

.mask-content {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
}

.mask-content.active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .5s, visibility .5s;
  -o-transition: opacity .5s, visibility .5s;
  transition: opacity .5s, visibility .5s;
}
body.active {
  position: fixed;
  top: 0;
  left: 0;
}